// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/* font stacks */
$font-family-primary: Lato, sans-serif;
$font-family-secondary: Roboto, sans-serif;

/* all colors */
/* site colors */
$color-primary: #2B4C6F; //main primary color//
$color-primary-lite: #4A6A8A; //primary color lite//
$color-primary-dark: #133253; //primary color dark//
$color-secondary: #AA4139; //secondary color//
$color-secondary-lite: #FFB0AA; //secondary lite
$color-secondary-dark: #801D15; //secondary dark
$color-secondary-2: #2B823A;	// secondary color 2
$color-secondary-lite-2: #82C38D; //secondary color 2 lite
$color-secondary-dark-2: #10621E;//secondary color 2 dark
$color-secondary-darker-2:#00410B;//secondary color 2 darker

/* text colors */
$color-text-primary: #656565;
$color-text-primary-lite: #4a6a8a;
$color-text-primary-dark: ;
$color-text-secondary : ;
$color-text-secondary-lite: ;
$color-text-secondary-dark: ;

/* headers colors */
$color-headings:	#242424;

/* anchor link colors */
$a-link-primary: ;
$a-link-secondary: ;
$a-visited-primary: ;
$a-visited-secondary: ;
$a-hover-primary: ;
$a-hover-secondary: ;
$a-active-primary: ;
$a-active-secondary: ;

/* specials */
$showcase-overlay:rgba( 43, 76,111,.8);

$section-header-color: #242424;

 
