/* Scss Document */
/*site variables*/

/*Grayscale and brand colors*/

$color-primary: #2B4C6F; //main primary color medium blue//
$color-primary-lite: #4A6A8A; //lite blue//
$color-primary-dark: #133253; //dark blue//
$color-secondary: #AA4139; //reddish//
$color-secondary-lite: #FFB0AA; //lite red pinkish//
$color-secondary-dark:#801D15; //dar red//
$color-secondary-2: #2B823A;	// Main Secondary color Green */
$color-secondary-lite-2: #82C38D; //main secondary secondary lite green//
$color-secondary-dark-2: #10621E; //main secondary secondary dark green//
$color-secondary-darker-2: #00410B; // main secondary secondary darker green//

$color-text:            	#656565 !default;
$color-gray-light:           #cecece !default;
$color-gray-lighter:         #aeaeae !default;
$color-sky-light:            #f5f8f9 !default;

$color-headings:	#242424;

$font-family-primary: Lato, sans-serif;
$font-family-secondary: Roboto, sans-serif;

$showcase-overlay:rgba( 43, 76,111,.8);

