@import 'variables';
@import 'card.scss';


body{
	font-family: $font-family-primary;
	margin-top: 180px;
}

/*Fonts*/
h1, h2, h3, h4, h5{
	font-family: $font-family-primary;
}

p,a,ul,li {
	font-family:$font-family-secondary;
	color:$color-text;
}
.navbar {
	background: white;
}
.nav-item {
	padding-right:2px;
}

#showcase {
	position: relative;
	min-height: 600px;
	background-image: url(../img/showcase-me.jpg);
	background-repeat: no-repeat;
	background-position: center;
	.showcase-overlay {
	background:$showcase-overlay;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;}
	.row {
		width:40%;
		margin-left:auto;
	}
}

//Section Styles//